*~
*.tmp
week*/results/*
week*/[Ss]andbox/*
*.code-workspace
*.log

# Keep directory structure with .gitkeep files
!week*/results/.gitkeep

*.pdf
.Rproj.user
.RData
.Rhistory
.Rapp.history

__pycache__

w4j/*